<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
	<title>Done!!!</title>
</head>
<body class="gradPink vh100 text-center">
	<main>
	  <div class="container-flex-column">
			<div class="container">
				<div class="row">
				<div class="col-xs-12">
				  <div class="check-div"></div>
					<img class="logo-white final-gif" src="../assets/images/logo-white.png" alt="logo">
         <h4 class="welcome">Welcome to lyft!</h4>
          <div class="load-logo-beyonce">
          </div>
				</div>
			</div>
			</div>
		</div>
	</main>
	<script src="../vendors/jQuery/jquery.js"></script>
	<script src="../js/done.js"></script>
</body>
</html>