<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<link rel="stylesheet" href="../css/main.css">
	<title>Verify</title>
</head>
<body class="vh100">
	<main>
	  <div class="container-flex-column">
			<div class="container">
				<div class="row">
				<div class="col-xs-12">
				<a href="register.html" class="glyphicon glyphicon-menu-left position-fixed" aria-hidden="true"></a>
				<div class="text-center">
				<h3>Log in</h3>
				<p>Join now for free ride credit</p>
				<hr>
				</div>
        <div class="container">
        <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel">
               <form class="form form-signup" role="form">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input id="firstNameInput" type="text" class="form-control" placeholder="First Name"><input id="lastNameInput" type="text" class="form-control" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-adjust"></span>
                            </span>
                            <input id="code" type="text" class="form-control" placeholder="Code">
                        </div>
                    </div>
                    <div class="text-center"> 
                    	<a id="login-btn" ><button id="next-btn" type="button" class="btn formulary-btn" >Next</button></a>
                    </div>
									</form>
            </div>
        </div>
    </div>
</div>
</div> 
				</div>
			</div>
			</div>
	</main>
	<script src="../vendors/jQuery/jquery.js"></script>
	<script src="../js/login.js"></script>
</body>
</html>